[build]
default-target = "x86_64-unknown-linux-musl"

[target.aarch64-unknown-linux-musl]
dockerfile = "Dockerfile.aarch64-musl"

[target.x86_64-unknown-linux-musl]
image = "ghcr.io/cross-rs/x86_64-unknown-linux-musl:latest"
pre-build = [
    "apt-get update",
    "apt-get install -y pkg-config libssl-dev musl-dev"
]
